<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MaxRowsRead" value="120" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="FlightMonitorBinding" maxReceivedMessageSize="2097152" sendTimeout="00:01:00" receiveTimeout="00:10:00" openTimeout="00:00:30" closeTimeout="00:00:30">
					<readerQuotas maxStringContentLength="2097152" maxArrayLength="2097152" />
					<security mode="None" />
					<reliableSession enabled="false" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="FlightMonitorService"
			address="net.tcp://localhost:4005/FlightMonitor"
			binding="netTcpBinding"
			bindingConfiguration="FlightMonitorBinding"
			contract="Common.IFlightMonitorService" />
		</client>
	</system.serviceModel>
</configuration>