<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LogFilePath" value="\Logs\FlightMonitorClientLog.txt" />
		<add key="MaxRowsRead" value="120" />
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint name="FlightMonitorService"
			address="net.tcp://localhost:4005/FlightMonitor"
			binding="netTcpBinding"
			contract="Common.IFlightMonitorService" />
		</client>
	</system.serviceModel>
</configuration>