<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="LogFilePath" value="\Logs\FlightMonitorServerLog.txt" />
        <add key="W_threshold" value="15.0" />
        <add key="L_threshold" value="0.7" />
        <add key="DeviationPercentage" value="0.22" />
        <add key="MeasurementsOutputPath" value="\Output" />
    </appSettings>
</configuration>
