<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="LogFilePath" value="\Logs\FlightMonitorServerLog.txt" />
		<add key="W_threshold" value="15.0" />
		<add key="L_threshold" value="0.7" />
		<add key="DeviationPercentage" value="0.22" />
		<add key="MeasurementsOutputPath" value="\Output" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="FlightMonitorBinding" maxReceivedMessageSize="2097152" sendTimeout="00:01:00" receiveTimeout="00:10:00" openTimeout="00:00:30" closeTimeout="00:00:30" transferMode="Streamed">
					<readerQuotas maxStringContentLength="2097152" maxArrayLength="2097152" />
					<security mode="None" />
					<reliableSession enabled="false" />
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="Server.Services.FlightMonitorService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4005"/>
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint
				 address="FlightMonitor"
				 binding="netTcpBinding"
				 bindingConfiguration="FlightMonitorBinding"
				 contract="Common.IFlightMonitorService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>